.footer {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: lighter;
  font-size: x-small;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logoFooter {
  height: 35px;
  width: 35px;
  padding-bottom: 10px;
}

.footer-line {
  border-top: 1px solid rgb(6, 6, 6);
  padding-top: 30px;
}

.center-button {
  text-align: center;
  padding-bottom: 10px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
