.footer {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: lighter;
  font-size: x-small;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logoFooter {
  height: 35px;
  width: 35px;
  padding-bottom: 10px;
}

.footer-line {
  border-top: 1px solid rgb(6, 6, 6);
  padding-top: 30px;
}

.footer a {
  text-decoration: none;
  color: rgb(157, 156, 156);
  margin: 0 10px;
}

.footer a:hover {
  color: #090909; /* Change color on hover as needed */
}

.fixed-top-button {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.btn {
  margin-bottom: 20px !important;
}

.footer a i {
  margin-bottom: 25px !important; /* Add margin bottom to create space */
}
/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
